body{
    background-image: url("../img/rhema-kallianpur-2W3bDp7K1oQ-unsplash-opacity60-min.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 25px 80px ;
}

h1{
    font-size: 1.7em;
    color: white;
}

span{
    color: black;
    background-color: white;
}

.search{
    display: flex;
    flex-direction: row-reverse;
}

.search input{
    width: 20%;
    height: 1.5rem;
    border-radius: 6px;
    border-style: none;
    text-align: center;
}

/* MAIN  */
main{
    display: flex;
    flex-direction: column;
}

.sedang-dibaca{
    color: white;
    margin-top: 55px;
}

.sedang-dibaca h2{
    margin-bottom: 0;
}

.selesai-dibaca{
    margin-top: 70px;
}

.selesai-dibaca h2{
    width: max-content;
    background-color: white;
    margin-bottom: 0;
}

.selesai-dibaca .wraper{
    color: white;
}

.box{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 50px;
    margin-top: 1em;
    padding: 0.5em;
    float: left;
}

.box h4{
    border-radius: 6px;
    background-color: white;
    width: max-content;
    color: black;
    margin: 0;
}
.aksi-box{
    display: flex;
}

.box .fa-trash-alt{
    margin: 1rem;
}

.box-tambah{
    /* background-color: cadetblue; */
    box-shadow: none;
    margin-top: 3em;   
}

.wrap-box{
    display: flex;
}

.tambah{
    font-size: 3rem;
    padding: 0.5em;
    cursor: pointer;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    width: 30%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }


  /* FORM */
  .form {
    display: flex;
    padding: 16px;
    flex-direction: column;
    border-radius: 16px;
  }

    .form-group {
        display: flex;
        flex-direction: column;
        margin-top: 1em;
    }

    .form-group label {
        margin-bottom: 4px;
        font-size: 18px;
        font-weight: lighter;
    }

.btn-submit {
    background-color: white;
    font-size: 14px;
    align-self: center; 
    border-radius: 10px;
    padding: 4px;
    cursor: pointer;
}

.btn-submit:hover{
    background: black;
    color: white;
}

input[type=text],
input[type=date],
.btn-submit:focus{
    outline: none;
}


.text-center {
    text-align: center;
}



/* FOOTER */
footer{
    margin-top: 70px;
    color: white;
    text-align: center;
}